.Main_input{
    margin-top:30px;
    width: 100%;
    height: auto;
    /* background: #000; */
}
.input_wraper{
    width: 300px;

    margin: 0 auto;
}

.input{
    width: 300px;
    height: 30px;

    margin: 0 auto;

    border:1px solid gray;
    border-radius: 12px ;
    
}


.input::placeholder{
    color:gray;
    padding-left: 10px;
    font-size: 15px;
}


